<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row px-3">
    <div class="[&>p]:mb-4 [&>p>strong]:text-yellow-800 dark:[&>p>strong]:text-yellow-200 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1">
        <p>
            Hola, soy Sergio Damián Alliana, un Técnico Superior en Programación con más de diez años 
            de experiencia en el desarrollo de aplicaciones web. En mi primera experiencia laboral, 
            trabajé en una <em class="italic">Software Factory</em> donde <strong>participé en diversos 
            proyectos, adquiriendo y perfeccionando mis habilidades en diferentes tecnologías 
            y metodologías</strong>. 
        </p>
  
        <p>
            Siempre me he enfocado en crear soluciones escalables y de alta calidad, siguiendo los 
            estándares y buenas prácticas de la industria. <strong>Actualmente, formo parte de un equipo de 
            desarrollo donde me encargo de realizar tareas de mantenimiento y de implementar nuevas 
            funcionalidades</strong>, aportando valor y mejoras a la plataforma. 
        </p>
  
        <p>
            Soy un profesional altamente motivado y orientado a los detalles, comprometido con estar 
            al tanto de las ultimas tendencias y mejores prácticas de la industria. Busco constantemente
            nuevos desafios y oportunidades para expandir mis habilidades. <strong>Confio en que mi experiencia
            y conocimientos me convierten en un activo valioso para cualquier equipo</strong>.
        </p>
    </div>
</article>
  